<div class="container">

    <div class="row">
        <h1>
            <span *ngIf="todo && todo.id > 0"><i class="fas fa-edit"></i> Aufgabe #{{todo.id}}
                bearbeiten</span>
            <span *ngIf="todo && !(todo.id > 0)"><i class="fas fa-plus"></i> Neue Aufgabe anlegen</span>
        </h1>
    </div>

    <div class="row">
        <label for="title">Titel</label>
        <input type="text" class="form-control" id="title" placeholder="Todo" [(ngModel)]="todo.title">
    </div>

    <div class="row">
        <label for="description">Beschreibung:</label>
        <textarea class="form-control" id="description" placeholder="Beschreibung"
                  [(ngModel)]="todo.description"></textarea>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label for="owner">Bearbeiter:</label>
            <input type="text" class="form-control" id="owner" [(ngModel)]="todo.owner">
        </div>
        <div class="col-md-4">
            <label for="priority">Priorität</label>
            <select class="custom-select d-block w-100" id="priority" [(ngModel)]="todo.priority">
                <option value="1">Hoch</option>
                <option value="0">Normal</option>
                <option value="-1">Niedrig</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="complete_till_ts">Bis wann:</label>
            <input type="text" class="form-control" id="complete_till_ts" [(ngModel)]="todo.complete_till_ts">
        </div>
    </div>

    <div class="row custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="done" [(ngModel)]="todo.done">
        <label class="custom-control-label" for="done">Erledigt?</label>
    </div>

    <hr class="row">

    <div class="row">
        <button class="btn btn-success btn-lg" (click)="save()">Speichern</button>&nbsp;
        <button class="btn btn-secondary btn-lg" (click)="cancel()">Abbrechen</button>&nbsp;
        <button class="btn btn-danger btn-lg" *ngIf="todo.id > 0" (click)="delete()">Löschen</button>
    </div>
</div>
